/* .App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/* -----Landing Page----- */

body {
	margin-top: 100px;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-area {
	padding-bottom: 80px;
}

#home.hero-area {
	height: calc(100vh - 80px);
	padding-top: 0px;
	padding-bottom: 0px;
}

.home-wrapper {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.white-text {
	color: #fff;
}

.btn-light {
	color: #e68a00 !important;
	font-weight: bolder !important;
}

.icon-button:hover {
	color: #fff;
}

.nav-link:hover {
	cursor: pointer;
}

/* -----LoginPage----- */

.login-container,
.register-container {
	padding-top: 3vh;
}

.login-title {
	color: #595959;
	text-decoration: underline;
}

.registration-link {
	color: #17a2b8;
}

.registration-link:hover {
	color: #e68a00;
}

/* -- Feature -- */
.section-why {
	margin-top: 20vh;
}

.section-icons {
	margin-bottom: 15vh;
}

.feature {
	position: relative;
}

.feature + .feature {
	margin-top: 40px;
}

.feature .feature-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
	border: 1px solid #ebebeb;
	color: #ff6700;
}

.feature-content {
	padding-left: 100px;
}

.feature-text {
	color: #e68a00;
}

.footer-box {
	background-color: #e68a00;
	opacity: 0.9;
	color: #fff;
}

/* -----PostPage ----- */
.post-container {
	padding-top: 10vh;
}

.post-title {
	color: #e68a00;
	font-weight: bolder;
}

/* -----SearchJobPage ----- */

.search-title {
	padding: 15vh 0 5vh 0;
	color: #e68a00;
	font-weight: bolder;
}

.no-result {
	z-index: 100;
}

.btn-warning {
	background-color: #e68a00 !important;
	border-color: #e68a00 !important;
	color: #fff !important;
}
.btn-warning:hover {
	background-color: #ffad33 !important;
	border-color: #ffad33 !important;
}

.job-result {
	/* border: 3px solid black; */
	background-color: #17a2b8;
	width: 50%;
	margin: 2vh auto;
	border-radius: 10px;
	color: #fff;
}

.no-result {
	font-size: 2vw;
}

.job-list {
	list-style-type: none;
}

.modal-list {
	text-align: left;
}

label {
	font-weight: bolder;
}

@media only screen and (max-width: 900px) {
	.job-result {
		width: 100%;
	}
}

/* background credit */
/* <a href='https://www.freepik.com/free-photo/business-people-handshake-greeting-deal-at-work_1024706.htm'>Designed by Jcomp</a> */
/* <a href='https://www.freepik.com/free-photo/office-workplace-with-keypad-and-glasses_2419876.htm'>Designed by Freepik</a> */
/* <a href='https://www.freepik.com/free-photo/closeup-of-business-person-completing-form_1027059.htm'>Designed by Katemangostar</a> */
