/* .App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/* -----Landing Page----- */

.hero {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-area {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

#home.hero-area {
	height: calc(100vh - 80px);
	padding-top: 0px;
	padding-bottom: 0px;
}

.home-wrapper {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.white-text {
	color: #fff;
}

.icon-button {
	color: #000;
}

.icon-button:hover {
	color: #fff;
}

/* -----LoginPage----- */

/* .login-container {
	border: 2px solid #e68a00;
	border-radius: 8px;
	height: 60vh;
	padding-top: 3vh;
} */

.login-title {
	color: #595959;
	text-decoration: underline;
}

.registration-link {
	color: #17a2b8;
}

.registration-link:hover {
	color: #e68a00;
}

/* -- Feature -- */
.feature {
	position: relative;
}

.feature + .feature {
	margin-top: 40px;
}

.feature .feature-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
	border: 1px solid #ebebeb;
	color: #ff6700;
}

.feature-content {
	padding-left: 100px;
}

.feature-text {
	color: #e68a00;
}

.footer-box {
	background-color: #e68a00;
	opacity: 0.9;
	color: #fff;
}

/* 
@media only screen and (max-width: 900px) {
	.login-container{

	}
} */

/* background credit */
/* <a href='https://www.freepik.com/free-photo/business-people-handshake-greeting-deal-at-work_1024706.htm'>Designed by Jcomp</a> */
